.tarefa{
    border: 1px solid #404040;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    min-width: 400px;
}

.iconCheck{
    width: 40px;
    height: 40px;
}

.iconAdd{
    width: 40px;
    height: 40px;
}
.icon{
    width: 40px;
    height: 40px;
}

footer{
    height: 10vh;
}

input[type="text"]{
    width: 80%;
    border-radius: 20px;
    margin: 5px;
}
